/* Colors */
@import url("https://fonts.googleapis.com/css2?family=Arsenal&family=El+Messiri&family=Ruda&family=Ubuntu+Mono&display=swap");
body .ui-widget {
  font-family: inherit;
}
body .ui-button {
  background: #00aff0;
  border: 1px solid #0096cc;
}
body .ui-button.ui-button-icon-only .ui-button-text {
  padding: 0.25rem;
}
body .ui-button.ui-state-hover {
  background: #0078a3;
  border-color: #0078a3;
}
body .ui-inputfield {
  padding: 0.25rem;
}
body .ui-datepicker .ui-datepicker-group {
  padding: 0;
}
body .ui-datepicker .ui-datepicker-header {
  padding: 0.5rem;
}
body .ui-datepicker .ui-datepicker-calendar td, body .ui-datepicker .ui-datepicker-calendar th {
  padding: 0.25rem;
}
body .ui-chkbox .ui-chkbox-box.ui-state-active {
  border-color: #00aff0;
  background: #00aff0;
  color: #ffffff;
}
body .ui-chkbox .ui-chkbox-box.ui-state-hover {
  border-color: #00aff0;
}
body .ui-progressbar {
  background: #cccccc;
  height: 1.5rem;
}
body .ui-progressbar .ui-progressbar-value {
  background: #00aff0;
}
body .ui-progressbar .ui-progressbar-label {
  color: #ffffff;
  line-height: 1.5rem;
}
body .ui-card .ui-card-body {
  padding: 0.5rem;
}
body .ui-card .ui-card-content {
  padding: 0;
}
body .ui-fileupload .ui-fileupload-buttonbar {
  padding: 0;
  background: 0;
  border: 0;
}
body .ui-fileupload .ui-fileupload-buttonbar .ui-button.ui-fileupload-choose .ui-icon {
  display: none;
}
body .ui-fileupload .ui-fileupload-content {
  padding: 4px;
  border: 0;
}
body .ui-fileupload .ui-fileupload-content .ui-fileupload-files {
  display: block;
  border-collapse: unset;
  margin: auto;
  border-spacing: unset;
}
body .ui-fileupload .ui-fileupload-content .ui-fileupload-files > div {
  display: block;
}
body .ui-fileupload .ui-fileupload-content .ui-fileupload-files .ui-fileupload-row {
  display: flex;
  flex-wrap: wrap;
}
body .ui-fileupload .ui-fileupload-content .ui-fileupload-files .ui-fileupload-row > div {
  padding: 4px;
  display: inline-block;
}
body .ui-fileupload .ui-fileupload-content .ui-fileupload-files .ui-fileupload-row .ui-fileupload-preview {
  display: none;
}
body .ui-fileupload .ui-fileupload-content .ui-fileupload-files .ui-fileupload-row div:nth-child(2) {
  width: 75%;
}
body .ui-fileupload .ui-fileupload-content .ui-fileupload-files .ui-fileupload-row div:nth-child(3) {
  width: 25%;
  text-align: right;
}
body .ui-fileupload .ui-fileupload-content .ui-fileupload-files .ui-fileupload-row div:nth-child(4) {
  flex-grow: 1;
}
body .ui-fileupload .ui-fileupload-content .ui-fileupload-files .ui-fileupload-row div:nth-child(4) .ui-progressbar {
  width: 100%;
  height: 32px;
  top: 0;
}
body .ui-fileupload .ui-fileupload-content .ui-fileupload-files .ui-fileupload-row div:nth-child(5) .ui-button {
  width: 32px;
  height: 32px;
}
body .ui-fileupload .ui-fileupload-content .ui-fileupload-files .ui-progressbar-value {
  background: #ffa552;
}
body .ui-fileupload .ui-fileupload-choose,
body .ui-fileupload .ui-fileupload-upload,
body .ui-fileupload .ui-fileupload-cancel {
  background: #00aff0;
  border: 0;
  transition: background ease-in 0.1s;
}
body .ui-fileupload .ui-fileupload-choose:hover,
body .ui-fileupload .ui-fileupload-upload:hover,
body .ui-fileupload .ui-fileupload-cancel:hover {
  background: #0078a3;
}
body .ui-fileupload .ui-fileupload-choose .ui-button-text {
  padding: 0.5rem 1rem;
}
body .ui-dialog .ui-dialog-titlebar {
  padding: 0.5rem;
}
body .ui-dialog .ui-dialog-content {
  padding: 0.5rem;
}
body .ui-selectonemenu {
  vertical-align: top;
}
body .ui-selectonemenu .ui-selectonemenu-label {
  min-height: initial;
  padding: 0.25rem 0.25rem;
}
body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item {
  padding: 0.25rem 0.5rem;
}
body .ui-selectonebutton > .ui-button.ui-state-active {
  background: #00aff0;
  border-color: #00aff0;
}
body .ui-selectonebutton > .ui-button.ui-state-active:not(.ui-state-disabled):hover {
  background: #0078a3;
  border-color: #0078a3;
}

html {
  height: 100%;
}

body {
  font-family: "Ubuntu Mono";
  font-family: "Ruda";
  font-family: "Arsenal";
  font-family: "El Messiri", Roboto, sans-serif;
  font-size: 16px;
  color: #4c566a;
  padding: 0;
  margin: 0;
  min-height: 100%;
  background: #00aff0 linear-gradient(135deg, #00aff0 50%, #0078a3 100%);
  background-attachment: fixed;
}
body .container {
  margin: auto;
}
body .main-wrapper {
  padding: 0.5em;
  height: 100vh;
}

input::placeholder {
  font-family: "El Messiri", Roboto, sans-serif;
}

@media (min-width: 1440px) {
  .container {
    width: 1400px;
  }
}
.messages-scroller.ui-datascroller .ui-datascroller-content,
.conversation-scroller.ui-datascroller .ui-datascroller-content {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.messages-scroller.ui-datascroller .ui-datascroller-content::-webkit-scrollbar,
.conversation-scroller.ui-datascroller .ui-datascroller-content::-webkit-scrollbar {
  width: 10px;
}
.messages-scroller.ui-datascroller .ui-datascroller-content::-webkit-scrollbar-track,
.conversation-scroller.ui-datascroller .ui-datascroller-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.messages-scroller.ui-datascroller .ui-datascroller-content::-webkit-scrollbar-thumb,
.conversation-scroller.ui-datascroller .ui-datascroller-content::-webkit-scrollbar-thumb {
  background: #888888;
}
.messages-scroller.ui-datascroller .ui-datascroller-content::-webkit-scrollbar-thumb:hover,
.conversation-scroller.ui-datascroller .ui-datascroller-content::-webkit-scrollbar-thumb:hover {
  background: #555555;
}
.messages-scroller.ui-datascroller .ui-datascroller-content .ui-datascroller-list,
.conversation-scroller.ui-datascroller .ui-datascroller-content .ui-datascroller-list {
  width: 100%;
}

.chat .header {
  height: 100px;
  border-bottom: 1px solid #dee2e6;
}
.chat .header .chat-title {
  font-size: 1.5em;
  font-weight: bold;
}
.chat .header .filter {
  display: flex;
  align-items: flex-end;
}
.chat .header .filter > div:not(:last-child) {
  margin-right: 0.5em;
}
.chat .header .filter .label {
  vertical-align: bottom;
}
.chat .messages-wrapper .ui-datascroller-item .message {
  display: inline-block;
  max-width: 660px;
  background-color: #ebfaff;
  padding: 0.25em 0.5em;
  float: left;
  clear: both;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
  word-break: break-word;
  position: relative;
  transition: background-color 0.1s ease-in;
}
.chat .messages-wrapper .ui-datascroller-item .message:hover {
  background-color: #d8f3fd;
}
.chat .messages-wrapper .ui-datascroller-item .message:hover .date {
  display: block;
}
.chat .messages-wrapper .ui-datascroller-item .message .date {
  position: absolute;
  width: 120px;
  font-size: 0.75em;
  color: #8994a9;
  left: calc(100% + 1em);
  font-family: Ruda, sans-serif;
  display: none;
}
.chat .messages-wrapper .ui-datascroller-item .message:not(last-of-type) {
  margin-bottom: 0.25em;
}
.chat .messages-wrapper .ui-datascroller-item .message.my {
  background-color: #c2efff;
  float: right;
  border-radius: 8px 0 0 8px;
}
.chat .messages-wrapper .ui-datascroller-item .message.my:hover {
  background-color: #aae1f4;
}
.chat .messages-wrapper .ui-datascroller-item .message.my .date {
  left: unset;
  right: calc(100% + 1em);
}

.panel-details .ui-card-content .p-grid {
  margin-bottom: -0.5rem;
}
.panel-details .ui-card-content .detail-title {
  font-weight: bold;
}

.panel-chats .ui-card-content .p-grid {
  margin-bottom: -0.5rem;
}
.panel-chats .ui-card-content .conversations-container {
  padding: 0;
  border-radius: 4px;
  overflow: hidden;
}
.panel-chats .ui-card-content .conversations-container .conversation-scroller.ui-datascroller .ui-datascroller-content {
  padding: 0;
}
.panel-chats .ui-card-content .conversations-container .conversation-scroller.ui-datascroller .conversation {
  display: flex;
  align-items: start;
  padding: 4px;
  border: 1px solid #dee2e6;
  margin-bottom: 4px;
  cursor: pointer;
  background-color: white;
  color: #00aff0;
  transition: background-color 0.1s ease-in;
}
.panel-chats .ui-card-content .conversations-container .conversation-scroller.ui-datascroller .conversation:hover {
  background-color: #ebfaff;
  text-decoration: none;
}
.panel-chats .ui-card-content .conversations-container .conversation-scroller.ui-datascroller .conversation.highlighted {
  background-color: #c2efff;
}
.panel-chats .ui-card-content .conversations-container .conversation-scroller.ui-datascroller .conversation .icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #9acd32;
  flex-shrink: 0;
  position: relative;
}
.panel-chats .ui-card-content .conversations-container .conversation-scroller.ui-datascroller .conversation .icon span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  font-family: "Ubuntu Mono", sans-serif;
}
.panel-chats .ui-card-content .conversations-container .conversation-scroller.ui-datascroller .conversation .detail {
  flex-grow: 1;
  white-space: nowrap;
  overflow-x: hidden;
  margin-left: 0.5em;
}
.panel-chats .ui-card-content .conversations-container .conversation-scroller.ui-datascroller .conversation .detail .name {
  font-weight: bold;
}
.panel-chats .ui-card-content .conversations-container .conversation-scroller.ui-datascroller .conversation .detail .messages-count {
  color: #8994a9;
}
.panel-chats .ui-card-content .conversations-container .conversation-scroller.ui-datascroller .conversation .detail .date {
  color: #8994a9;
  float: right;
}

.panel-chat .header {
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0.5rem;
  background-color: #ffffff;
}
.panel-chat .header .chat-title {
  font-size: 1.5em;
  font-weight: bold;
}
.panel-chat .header .filter {
  display: flex;
  align-items: flex-end;
}
.panel-chat .header .filter > div:not(:last-child) {
  margin-right: 0.5em;
}
.panel-chat .header .filter .label {
  vertical-align: bottom;
}
.panel-chat .messages-wrapper {
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.panel-chat .messages-wrapper .ui-datascroller-item .chat-message-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.panel-chat .messages-wrapper .ui-datascroller-item .chat-message-wrapper .message {
  max-width: 600px;
  background-color: #ebfaff;
  padding: 0.25em 0.5em;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
  word-break: break-word;
  transition: background-color 0.1s ease-in;
  margin-bottom: 0.25em;
}
.panel-chat .messages-wrapper .ui-datascroller-item .chat-message-wrapper .message.bookmarked {
  background-color: #fcf6b1;
}
.panel-chat .messages-wrapper .ui-datascroller-item .chat-message-wrapper .date {
  font-size: 0.75em;
  color: #8994a9;
  font-family: Ruda, sans-serif;
  display: none;
  margin: 0 0.5em;
}
.panel-chat .messages-wrapper .ui-datascroller-item .chat-message-wrapper .bookmark-icon {
  display: none;
  margin: 0 0.5em;
}
.panel-chat .messages-wrapper .ui-datascroller-item .chat-message-wrapper .bookmark-icon .ui-button {
  color: #8994a9;
}
.panel-chat .messages-wrapper .ui-datascroller-item .chat-message-wrapper .bookmark-icon .ui-button.ui-state-hover {
  color: #ffa552;
}
.panel-chat .messages-wrapper .ui-datascroller-item .chat-message-wrapper:hover .message {
  background-color: #d8f3fd;
}
.panel-chat .messages-wrapper .ui-datascroller-item .chat-message-wrapper:hover .message.bookmarked {
  background-color: #fcf283;
}
.panel-chat .messages-wrapper .ui-datascroller-item .chat-message-wrapper:hover .date {
  display: block;
}
.panel-chat .messages-wrapper .ui-datascroller-item .chat-message-wrapper:hover .bookmark-icon {
  display: block;
}
.panel-chat .messages-wrapper .ui-datascroller-item .chat-message-wrapper.my {
  flex-direction: row-reverse;
  justify-content: end;
}
.panel-chat .messages-wrapper .ui-datascroller-item .chat-message-wrapper.my .message {
  background-color: #c2efff;
  border-radius: 8px 0 0 8px;
}
.panel-chat .messages-wrapper .ui-datascroller-item .chat-message-wrapper.my .message.bookmarked {
  background-color: #faee69;
}
.panel-chat .messages-wrapper .ui-datascroller-item .chat-message-wrapper.my:hover .message {
  background-color: #aae1f4;
}
.panel-chat .messages-wrapper .ui-datascroller-item .chat-message-wrapper.my:hover .message.bookmarked {
  background-color: #f0e246;
}

.panel-bookmarks .panel-bookmarks-panel #dropdownColor #dropdownColor_label {
  color: transparent;
}
.panel-bookmarks .panel-bookmarks-panel .bookmarks-header h1 {
  flex-grow: 1;
}
.panel-bookmarks .panel-bookmarks-panel .bookmarks-header .close-icon .ui-button {
  color: #8994a9;
}
.panel-bookmarks .ui-dialog .bookmark-colors-list {
  display: flex;
  align-items: end;
  height: calc(37px + 1em);
}
.panel-bookmarks .ui-dialog .bookmark-color {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  margin: 0 3px;
  transition: all 0.1s ease-in;
}
.panel-bookmarks .ui-dialog .bookmark-color:hover {
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.panel-bookmarks .ui-dialog .bookmark-color.selected {
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.5);
  width: 37px;
  height: 37px;
}
.panel-bookmarks .bookmarks-list-wrapper .ui-dataview .ui-dataview-header {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.panel-bookmarks .bookmarks-list-wrapper .bookmark-list-item {
  padding: 0.5em;
  border: 1px solid #dee2e6;
  margin-bottom: 0.5em;
  transition: all 0.1s ease-in;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
}
.panel-bookmarks .bookmarks-list-wrapper .bookmark-list-item:hover {
  background-color: #ebfaff;
}
.panel-bookmarks .bookmarks-list-wrapper .bookmark-list-item .bookmark-left {
  margin-right: 1em;
}
.panel-bookmarks .bookmarks-list-wrapper .bookmark-list-item .bookmark-center {
  flex-grow: 1;
  margin-right: 0.5em;
}
.panel-bookmarks .bookmarks-list-wrapper .bookmark-list-item .bookmark-center .bookmark-header {
  flex-grow: 1;
}
.panel-bookmarks .bookmarks-list-wrapper .bookmark-list-item .bookmark-center .bookmark-conversation {
  font-size: 1.25em;
  font-weight: bold;
  width: 100%;
}
.panel-bookmarks .bookmarks-list-wrapper .bookmark-list-item .bookmark-center .bookmark-category {
  margin-right: 1em;
}
.panel-bookmarks .bookmarks-list-wrapper .bookmark-list-item .bookmark-right {
  width: 140px;
}
.panel-bookmarks .bookmarks-list-wrapper .bookmark-grid-item {
  border: 1px solid #dee2e6;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.1s ease-in;
  height: 100%;
  overflow: hidden;
}
.panel-bookmarks .bookmarks-list-wrapper .bookmark-grid-item:hover {
  background-color: #ebfaff;
}
.panel-bookmarks .bookmarks-list-wrapper .bookmark-grid-item > div {
  padding: 0.5em;
}
.panel-bookmarks .bookmarks-list-wrapper .bookmark-grid-item .bookmark-header {
  background-color: #00aff0;
  color: #ffffff;
}
.panel-bookmarks .bookmarks-list-wrapper .bookmark-grid-item .bookmark-content {
  flex-grow: 1;
}
.panel-bookmarks .bookmarks-list-wrapper .bookmark-grid-item .bookmark-color {
  margin-right: 0.5em;
  flex-shrink: 0;
  border: 1px solid #dee2e6;
}
.panel-bookmarks .bookmarks-list-wrapper .bookmark-grid-item .bookmark-conversation {
  font-size: 1.1em;
  font-weight: bold;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
}
.panel-bookmarks .bookmarks-list-wrapper .bookmark-grid-item .bookmark-category {
  font-weight: bold;
}
.panel-bookmarks .bookmarks-list-wrapper .bookmark-color {
  width: 30px;
  height: 30px;
  border-radius: 4px;
}
.panel-bookmarks .bookmarks-list-wrapper .bookmark-title {
  font-weight: bold;
  color: #00aff0;
}
.panel-bookmarks .bookmarks-list-wrapper .bookmark-message {
  color: #8994a9;
}
.panel-bookmarks .bookmarks-list-wrapper .bookmark-date {
  color: #8994a9;
  text-align: right;
}

#dropdownColor_panel.ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item {
  padding: 0;
}
#dropdownColor_panel.ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item.ui-selectonemenu-row > td {
  padding: 0;
}

.panel-stories .panel-stories-panel .stories-header h1 {
  flex-grow: 1;
}
.panel-stories .panel-stories-panel .stories-header .close-icon .ui-button {
  color: #8994a9;
}

/* Colors */
ss {
  font-weight: bold;
  position: relative;
  top: calc(24px / 4);
  height: 24px;
  width: 24px;
  display: inline-block;
  outline: 1px solid #ffa552;
  /* font-size: 0; */
}
ss:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  content: "";
  background-size: contain;
}
ss[type=angry]:after {
  background-image: url("../resources/emoticons/angry_40x40.gif");
}
ss[type=confused]:after {
  background-image: url("../resources/emoticons/confused_40x40.gif");
}
ss[type=cool]:after {
  background-image: url("../resources/emoticons/cool_40x40.gif");
}
ss[type=cwl]:after {
  background-image: url("../resources/emoticons/cryingwhilelaughing_anim.gif");
}
ss[type=devil]:after {
  background-image: url("../resources/emoticons/devil_40x40.gif");
}
ss[type=doh]:after {
  background-image: url("../resources/emoticons/doh_40x40.gif");
}
ss[type=donttalktome]:after {
  background-image: url("../resources/emoticons/donttalktome_40x40.gif");
}
ss[type=dream]:after {
  background-image: url("../resources/emoticons/dream_40x40.gif");
}
ss[type=dull]:after {
  background-image: url("../resources/emoticons/dull_40x40.gif");
}
ss[type=envy]:after {
  background-image: url("../resources/emoticons/envy_40x40.gif");
}
ss[type=fingerscrossed]:after {
  background-image: url("../resources/emoticons/fingerscrossed_40x40.gif");
}
ss[type=giggle]:after {
  background-image: url("../resources/emoticons/giggle_40x40.gif");
}
ss[type=happy]:after {
  background-image: url("../resources/emoticons/happy_40x40.gif");
}
ss[type=hi]:after {
  background-image: url("../resources/emoticons/hi_40x40.gif");
}
ss[type=hungover]:after {
  background-image: url("../resources/emoticons/hungover_40x40.gif");
}
ss[type=laugh]:after {
  background-image: url("../resources/emoticons/laugh_40x40.gif");
}
ss[type=lipssealed]:after {
  background-image: url("../resources/emoticons/lipssealed_40x40.gif");
}
ss[type=loudlycrying]:after {
  background-image: url("../resources/emoticons/loudlycrying_40x40.gif");
}
ss[type=mmm]:after {
  background-image: url("../resources/emoticons/mmm_40x40.gif");
}
ss[type=music]:after {
  background-image: url("../resources/emoticons/music_40x40.gif");
}
ss[type=nahi]:after {
  background-image: url("../resources/emoticons/nahi_40x40.gif");
}
ss[type=nod]:after {
  background-image: url("../resources/emoticons/nod_40x40.gif");
}
ss[type=party]:after {
  background-image: url("../resources/emoticons/party_40x40.gif");
}
ss[type=puke]:after {
  background-image: url("../resources/emoticons/puke_40x40.gif");
}
ss[type=rain]:after {
  background-image: url("../resources/emoticons/rain_40x40.gif");
}
ss[type=rofl]:after {
  background-image: url("../resources/emoticons/rofl_40x40.gif");
}
ss[type=shake]:after {
  background-image: url("../resources/emoticons/shake_40x40.gif");
}
ss[type=sad]:after {
  background-image: url("../resources/emoticons/sad_40x40.gif");
}
ss[type=sleepy]:after {
  background-image: url("../resources/emoticons/sleepy_40x40.gif");
}
ss[type=smile]:after {
  background-image: url("../resources/emoticons/smile_40x40.gif");
}
ss[type=smirk]:after {
  background-image: url("../resources/emoticons/smirk_40x40.gif");
}
ss[type=speechless]:after {
  background-image: url("../resources/emoticons/speechless_40x40.gif");
}
ss[type=sun]:after {
  background-image: url("../resources/emoticons/sun_40x40.gif");
}
ss[type=surprised]:after {
  background-image: url("../resources/emoticons/surprised_40x40.gif");
}
ss[type=think]:after {
  background-image: url("../resources/emoticons/think_40x40.gif");
}
ss[type=ttm]:after {
  background-image: url("../resources/emoticons/ttm_40x40.gif");
}
ss[type=veryconfused]:after {
  background-image: url("../resources/emoticons/veryconfused_40x40.gif");
}
ss[type=wait]:after {
  background-image: url("../resources/emoticons/wait_40x40.gif");
}
ss[type=wasntme]:after {
  background-image: url("../resources/emoticons/wasntme_40x40.gif");
}
ss[type=whew]:after {
  background-image: url("../resources/emoticons/whew_40x40.gif");
}
ss[type=wonder]:after {
  background-image: url("../resources/emoticons/wonder_40x40.gif");
}
ss[type=worry]:after {
  background-image: url("../resources/emoticons/worry_40x40.gif");
}
ss[type=yawn]:after {
  background-image: url("../resources/emoticons/yawn_40x40.gif");
}
