$fontSize: 16px;
$roundness: 4px;
$messageRoundness: 8px;
$padding: 0.5em;

$emoticonSizeSmall: 24px;

/* Colors */
$colorFont: #4c566a;
$colorFontLight: #8994a9;

$colorSkypeBlueLight: #ebfaff;
$colorSkypeBlueLight2: #d8f3fd;

$colorSkypeBlueMid: #c2efff;
$colorSkypeBlueMid2: #aae1f4;

$colorSkypeBlue: #00aff0;
$colorSkypeBlueBorder: #0096cc;
$colorSkypeBlueDark: #0078a3;

$colorSkypeGreen: #9acd32;
$colorSkypeOrange: #ffa552;
$colorSkypeRed: #d32f2f;

$colorBorder: #dee2e6;

