/* Colors */
ss {
  font-weight: bold;
  position: relative;
  top: calc(24px / 4);
  height: 24px;
  width: 24px;
  display: inline-block;
  outline: 1px solid #ffa552;
  /* font-size: 0; */
}
ss:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  content: "";
  background-size: contain;
}
ss[type=lipssealed]:after {
  background-image: url("../resources/emoticons/lipssealed_40x40.gif");
}
ss[type=sun]:after {
  background-image: url("../resources/emoticons/sun_40x40.gif");
}
ss[type=shake]:after {
  background-image: url("../resources/emoticons/shake_40x40.gif");
}
ss[type=laugh]:after {
  background-image: url("../resources/emoticons/laugh_40x40.gif");
}
ss[type=sad]:after {
  background-image: url("../resources/emoticons/sad_40x40.gif");
}
ss[type=think]:after {
  background-image: url("../resources/emoticons/think_40x40.gif");
}
ss[type=worry]:after {
  background-image: url("../resources/emoticons/worry_40x40.gif");
}
ss[type=surprised]:after {
  background-image: url("../resources/emoticons/surprised_40x40.gif");
}
ss[type=mmm]:after {
  background-image: url("../resources/emoticons/mmm_40x40.gif");
}
ss[type=devil]:after {
  background-image: url("../resources/emoticons/devil_40x40.gif");
}
ss[type=speechless]:after {
  background-image: url("../resources/emoticons/speechless_40x40.gif");
}
ss[type=wait]:after {
  background-image: url("../resources/emoticons/wait_40x40.gif");
}
ss[type=wonder]:after {
  background-image: url("../resources/emoticons/wonder_40x40.gif");
}
ss[type=envy]:after {
  background-image: url("../resources/emoticons/envy_40x40.gif");
}
ss[type=nod]:after {
  background-image: url("../resources/emoticons/nod_40x40.gif");
}
ss[type=happy]:after {
  background-image: url("../resources/emoticons/happy_40x40.gif");
}
ss[type=cool]:after {
  background-image: url("../resources/emoticons/cool_40x40.gif");
}
ss[type=giggle]:after {
  background-image: url("../resources/emoticons/giggle_40x40.gif");
}
ss[type=rofl]:after {
  background-image: url("../resources/emoticons/rofl_40x40.gif");
}
ss[type=puke]:after {
  background-image: url("../resources/emoticons/puke_40x40.gif");
}
ss[type=dull]:after {
  background-image: url("../resources/emoticons/dull_40x40.gif");
}
ss[type=whew]:after {
  background-image: url("../resources/emoticons/whew_40x40.gif");
}
ss[type=music]:after {
  background-image: url("../resources/emoticons/music_40x40.gif");
}
ss[type=hi]:after {
  background-image: url("../resources/emoticons/hi_40x40.gif");
}
ss[type=yawn]:after {
  background-image: url("../resources/emoticons/yawn_40x40.gif");
}
ss[type=doh]:after {
  background-image: url("../resources/emoticons/doh_40x40.gif");
}
ss[type=smirk]:after {
  background-image: url("../resources/emoticons/smirk_40x40.gif");
}
ss[type=sleepy]:after {
  background-image: url("../resources/emoticons/sleepy_40x40.gif");
}
ss[type=cwl]:after {
  background-image: url("../resources/emoticons/cryingwhilelaughing_anim.gif");
}
ss[type=nahi]:after {
  background-image: url("../resources/emoticons/nahi_40x40.gif");
}
ss[type=donttalktome]:after {
  background-image: url("../resources/emoticons/donttalktome_40x40.gif");
}
ss[type=hungover]:after {
  background-image: url("../resources/emoticons/hungover_40x40.gif");
}
ss[type=veryconfused]:after {
  background-image: url("../resources/emoticons/veryconfused_40x40.gif");
}
ss[type=confused]:after {
  background-image: url("../resources/emoticons/confused_40x40.gif");
}
ss[type=dream]:after {
  background-image: url("../resources/emoticons/dream_40x40.gif");
}
ss[type=party]:after {
  background-image: url("../resources/emoticons/party_40x40.gif");
}
ss[type=smile]:after {
  background-image: url("../resources/emoticons/smile_40x40.gif");
}
ss[type=fingerscrossed]:after {
  background-image: url("../resources/emoticons/fingerscrossed_40x40.gif");
}
